
.index-search-form {
  margin-top: 1em;
  input[type="submit"] {
    background: @suse-new-brand-colour;
    &:hover {
      background: @suse-new-brand-colour-hover;
    }
  }
  input[type="text"], input[type="submit"] {
    border: @suse-new-brand-colour 1px solid;
    border-radius: 0px;
  }
}
