
body {
  background: @search-body-background;
}

body, html {
  height: 100%;
}

header {
  height: 30px;
}

section {
  height: 100%;
  padding-top: 30px;
}

footer {
  background: @search-footer-background;
  height: 80px;
  border-top: 1px solid @search-footer-border;
  width: 100%;
  position: relative;
  top: -80px;
  padding: 0 1em;
}

.container-fluid {
  min-height: 100%;
  padding-bottom: 80px;
}


