// Colours
@gray-extra-light:             lighten(@gray-base, 86.7%);
@gray-extra-lighter:           #f5f5f5;
@white:                        #fff;
@green-darker:                 #00b268;

// semantic colour variables
@suse-new-brand-colour:        @green-darker;
@suse-new-brand-colour-hover:  darken(@suse-new-brand-colour, 10%);
@search-body-background:       @gray-extra-lighter;
@search-footer-background:     @white;
@search-footer-border:         @gray-extra-light;

// semantic size variables
@search-form-column:           570px;

